$main-white: #ffffff;
$header-gray: #868686;
$main-purple: #5d2aee;
$background-black: #000000;
$background-gray: #1c1c1c;
$circle-gray: #363636;
$bright-green: #3affb8;
$light-gray: #737373;
$actions-gray: #343434;

$oswald: "Oswald", sans-serif;
$archivo: "Archivo", sans-serif;
